body {
    margin: 0;
    background-color: black;
    color: white;
}
#wrap {
    margin: 0 auto;
    width: 1024px;
    overflow: hidden;
}
#header {
    width: 1024px;
    </script>
    height: 100px;
    position: fixed;
    background-color: black;
}
#logo {
    width: 200px;
    height: 100px;
    float: left;
}
#logoimg {
    float: left;
    width: 200px;
    height: 100px;
}
#menu {
    float: right;
    width: 800px;
    height: 100px;
    text-align: right;
    margin-top: 10px;
}
ul {
    padding-left: 0px;
}
li {
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}
a {
    color: white;
    text-decoration: none;
}
.menu a:hover {
    color: slateblue;
}
#SIDEMENU {
    margin: 0;
    padding: 0px;
    padding-right: 150px;
    position: absolute;
    top: 0px;
    right: 0px;
}

/*middle*/
#middle {
  width: 780px;
  margin: 0 auto;
  padding-top: 100px;
  clear: both;
}
#content {
  width: 780px;
  height: 50px;
  margin: 0 auto;
}
.art {
	width: 240px;
	float: left;
	margin-bottom: 20px;
	/*border: 1px #ddd solid;*/
}
.part {
	width: 240px;
	float: left;
	margin: 10px;
}
/*middle*/

#footer {
    width: 100%;
    padding-top: 180px;
    padding-bottom: 60px;
    clear: both;
}
#copy {
    float: left;
    font-size: 12px;
}
#sns {
    float: right;
    font-size: 18px;
}
#sns a:hover {
    color: slateblue;
}
